.profile__edit {
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-image: url(../../../images/pen.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  margin-left: 18px;
  margin-top: 37px;
}

.profile__edit:hover {
  opacity: 0.6;
}


@media screen and (max-width:585px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-left: 10px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 585px) {
    .profile__edit {
        margin-top: 10px;
    }
}
