.big-container__close {
  position: relative;
  width: 32px;
  height: 32px;
  left: 236px;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-size: cover;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.big-container__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 585px) {
  .big-container__close {
    left: 130px;
    bottom: 37px;
    width: 20px;
    height: 20px;
  }
}
